.container {
  color: white;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;

  .kickstarterXl {
    position: fixed;
    z-index: 50;
    top: 0;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.368);
    width: 100%;
    height: 100%;
    div {
      width: 525px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        width: 100%;
      }
      button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        transition: all 250ms;
        cursor: pointer;
        &:hover {
          transform: rotate(180deg);
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .kickstarterMd {
    display: none;
    position: fixed;
    z-index: 50;
    top: 0;
    padding-top: 10px;

    background-color: rgba(0, 0, 0, 0.368);
    width: 100%;
    height: 100%;
    div {
      width: 360px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      img {
        width: 100%;
      }
      button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        transition: all 250ms;
        cursor: pointer;
        &:hover {
          transform: rotate(180deg);
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .kickstarterXs {
    display: none;
    position: fixed;
    z-index: 50;
    top: 0;
    padding-top: 10px;

    background-color: rgba(0, 0, 0, 0.368);
    width: 100%;
    height: 100%;
    div {
      width: 250px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      img {
        width: 100%;
      }
      button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        transition: all 250ms;
        cursor: pointer;
        &:hover {
          transform: rotate(180deg);
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.22);
    overflow: hidden;
    .hamBtn {
      position: absolute;
      left: 75px;
      background-color: transparent;
      border: none;
      display: none;
      width: 35px;
      height: 35px;
      cursor: pointer;
      transition: all 250ms;
      svg {
        transition: all 250ms;
        width: 100%;
        fill: white;
        height: 100%;
      }
      &:hover {
        svg {
          fill: gray;
        }
      }
    }
    .langBtn {
      position: absolute;
      right: 75px;
      background-color: transparent;
      border: none;

      width: 35px;
      height: 35px;
      cursor: pointer;
      transition: all 250ms;
      svg {
        transition: all 250ms;
        width: 100%;
        fill: white;
        height: 100%;
      }
      &:hover {
        svg {
          fill: gray;
        }
      }
    }
    .navUl {
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      li {
        list-style: none;
        transition: all 250ms;
        a {
          font-size: 18px;
          color: white;
          text-decoration: none;
          cursor: pointer;
          transition: all 250ms;
        }
        &:hover {
          a {
            color: gray;
          }
        }
      }
    }
  }
  .langUl {
    z-index: 10;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.22);
    position: fixed;
    width: 500px;
    top: 50px;
    right: 0px;
    padding: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 250ms;
    transform: translateY(-600px);
    li {
      list-style: none;
      transition: all 250ms;
      a {
        text-decoration: none;
        cursor: pointer;
        color: white;
        transition: all 250ms;
        font-size: 18px;
      }

      &:hover {
        a {
          color: gray;
        }
      }
    }
  }
  .mobileNavUl {
    z-index: 10;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.469);
    position: fixed;
    width: 90%;
    top: 50px;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 250ms;
    transform: translateY(-600px);
    li {
      list-style: none;
      transition: all 250ms;
      a {
        text-decoration: none;
        cursor: pointer;
        color: white;
        transition: all 250ms;
        font-size: 18px;
      }

      &:hover {
        a {
          color: gray;
        }
      }
    }
  }

  .mobileNavActive {
    transform: translateY(0) !important;
  }
  .langActive {
    transform: translateY(0) !important;
  }
  .upArrow {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotateX(180deg);
    width: 50px;
    height: 50px;
    z-index: 10;
    transition: all 250ms;
    svg {
      width: 100%;
      height: 100%;
    }
    &:hover {
      bottom: 5px;
    }
  }
  .header {
    display: flex;
    justify-content: flex-start;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../../../public/homePage/header/bg.webp");
    gap: 20px;
    padding-bottom: 170px;
    position: relative;
    img {
      width: 300px;
    }
    .headerFade {
      width: 100%;
      height: 150px;
      position: absolute;
      bottom: 0px;
      background: rgb(135, 0, 237);
      background: linear-gradient(
        0deg,
        rgba(135, 0, 237, 1) 25%,
        rgba(135, 0, 237, 0) 100%
      );
      bottom: -2px;
    }
    iframe {
      width: 30vw;
      height: 18vw;
      border-radius: 10px;
      z-index: 4;
    }
  }
  .races {
    width: 100%;
    height: 100%;
    background-image: url("../../../public/homePage/races/bg.webp");
    background-position: 100% 0%;
    background-size: cover;
    padding: 50px 0;
    position: relative;
    h3 {
      text-align: center;
      font-size: 80px;
      font-family: "MoonGet";
      padding: 0 0 40px 0;
    }
    .racesFadeDown {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgb(49, 0, 64);
      background: linear-gradient(
        0deg,
        rgba(49, 0, 64, 1) 25%,
        rgba(49, 0, 64, 0) 100%
      );
      width: 100%;
      height: 250px;
    }
    .racesSelection {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      position: relative;
      padding-bottom: 10px;
      .racesSelectionbacklights {
        position: absolute;
        width: 80%;
        bottom: 0;
      }
      button {
        width: 120px;
        height: 120px;
        border: none;
        transition: all 250ms;
        cursor: pointer;
        position: relative;
        background-color: transparent;
        img {
          width: 100%;
        }
        .iconBorder {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          display: none;
          transition: all 250ms;
        }
        &:hover {
          .iconBorder {
            display: block;
            animation: 300ms appear;
          }
        }
        .iconActive {
          display: block;
          animation: 500ms appear;
        }
      }
      .racesSelectionArrow1,
      .racesSelectionArrow2 {
        width: 35px;
        height: 35px;
        transition: all 500ms;
        svg {
          fill: white;
          width: 100%;
          height: 100%;
        }
        &:hover {
          padding-left: 10px;
          fill: gray;
        }
      }
      .racesSelectionArrow1 {
        transform: rotateY(180deg);
      }
    }
    .racesContainer {
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      .racesContainerMobileHabilitiesMain {
        display: none;
      }
      h4 {
        font-size: 70px;
        margin: 40px 0 15px 0;
        font-family: "MoonGet";
      }
      .racesContainerMain {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .racesContainerLeft {
          width: 550px;
          height: initial;
          // height: 675px;
          // background: red;
          display: flex;
          justify-content: flex-end;
          img {
            animation: 1s float infinite;
            width: 100%;
          }
        }
        .racesContainerRight {
          // background: blue;
          padding-left: 100px;
          width: 60%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          p {
            padding-left: 65px;
            align-self: flex-start;
            font-size: 25px;
            font-weight: 200;
            width: 85%;
          }
          .racesHabilitiesContainer {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            h5 {
              font-size: 30px;
              font-family: "MoonGet";
              margin: 5px 0;
            }
            div {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 20px;
              flex-direction: row;
              width: 100%;

              img {
                border-radius: 10px;
                width: 45%;
              }
            }
          }
        }
      }
      .racesGameplay {
        margin-top: 50px;
        z-index: 4;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-direction: column;
        h5 {
          font-size: 30px;
          font-family: "MoonGet";
          margin: 5px 0;
        }
        iframe {
          width: 55%;
          height: 30vw;
        }
      }
    }
    .racesActive {
      display: flex;
      animation: 1s appear;
    }
  }
  .professions {
    width: 100%;
    height: 100%;
    background-image: url("../../../public/homePage/professions/bg.webp");
    background-position: 100% 0%;
    background-size: cover;
    padding: 50px 0 150px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    .professionsAxolotl {
      // width: 350px;
      width: 20%;

      position: absolute;
      bottom: 0;
      right: 0;
    }
    .professionsAquan {
      // width: 350px;
      width: 20%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .professionsFadeDown {
      position: absolute;
      bottom: -2px;
      left: -5px;
      width: 105%;
    }
    h3 {
      text-align: center;
      font-size: 80px;
      font-family: "MoonGet";
      padding: 0 0 40px 0;
    }
    .professionsSelector {
      display: flex;
      width: 75%;
      height: 300px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      div {
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        button {
          width: 16.666%;
          height: 100%;
          background-color: transparent;
          border: none;
          cursor: pointer;
          transition: all 250ms;
          border: 1px solid white;
          position: relative;
          p {
            color: white;
            font-size: 25px;
            // background: red;]
            word-break: break-all;
            padding: 0 10px;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            font-family: Montserrat;
            font-weight: 200;
            text-shadow: 3px 3px 10px black;
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            filter: brightness(50%);
            width: 100%;
            object-fit: fill;
            height: 100%;
            transition: all 250ms;
          }
          &:hover {
            filter: brightness(100%);
            transition: all 250ms;
          }
        }
        .professionActive {
          img {
            filter: brightness(100%);
          }
        }
      }
    }
    .mobileProfessionsSelector {
      display: none;
      // display: flex;
      width: 90%;
      height: 300px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      div {
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        button {
          width: 25%;
          height: 100%;
          background-color: transparent;
          border: none;
          cursor: pointer;
          transition: all 250ms;
          border: 1px solid white;
          position: relative;
          p {
            color: white;
            font-size: 15px;
            // background: red;]
            word-break: break-all;
            padding: 0 10px;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            font-family: Montserrat;
            font-weight: 200;
            text-shadow: 3px 3px 10px black;
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            filter: brightness(50%);
            width: 100%;
            object-fit: fill;
            height: 100%;
            transition: all 250ms;
          }
          &:hover {
            filter: brightness(100%);
            transition: all 250ms;
          }
        }
        .professionActive {
          img {
            filter: brightness(100%);
          }
        }
      }
    }
    .professionsContainer {
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

      h4 {
        font-size: 50px;
        margin: 50px 0 30px 0;
        font-family: "MoonGet";
      }
      iframe {
        width: 50%;

        height: 400px;
      }
    }

    .professionsActive {
      display: flex;
      animation: 1s appear;
    }
  }
  .combat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url("../../../public/homePage/combat/bg.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    .combatFadeDown {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100px;
      background: rgb(10, 2, 53);
      background: linear-gradient(
        0deg,
        rgba(10, 2, 53, 1) 25%,
        rgba(135, 0, 237, 0) 100%
      );
    }
    .combatUpText {
      width: 100%;
      // background: red;
      width: 50%;
      font-size: 30px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 50px;
    }
    .combatSection1,
    .combatSection3 {
      display: flex;
      justify-content: center;
      align-items: center;

      .combatSection1Left,
      .combatSection3Left {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        h4 {
          font-size: 90px;
          font-family: MoonGet;
          letter-spacing: 2px;
        }
        p {
          font-size: 30px;
          width: 80%;

          text-align: center;
        }
        iframe {
          width: 70%;
          height: 25vw;
        }
      }
      .combatSection1Right,
      .combatSection3Right {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 500px;
        }
      }
      .combatSection3Right {
        img {
          width: 850px;
        }
      }
    }
    .combatSeparator {
      width: 85%;
      margin: 50px 0;
      img {
        width: 100%;
      }
    }
    .combatSection2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      h4 {
        font-size: 90px;
        font-family: MoonGet;
        text-align: center;
        margin-bottom: 50px;
      }
      .combatSection2Main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 85%;
        height: 100%;
        .combatSection2Left {
          width: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            // width: 100%;
            width: 750px;
          }
        }
        .combatSection2Right {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          align-items: center;
          width: 70%;
          height: 100%;
          gap: 30px;
          p {
            font-size: 30px;
            width: 80%;
            text-align: center;
          }
          iframe {
            width: 70%;
            height: 25vw;
          }
        }
      }
    }
  }
  .exploration {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 100px 0;
    background-image: url("../../../public/homePage/exploration/bg.webp");
    background-position: center;
    background-size: cover;
    position: relative;
    .rightDeco {
      position: absolute;
      width: 18%;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
    .leftDeco {
      position: absolute;
      width: 18%;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    .combatFadeUp {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100px;
      background: rgb(10, 2, 53);
      background: linear-gradient(
        180deg,
        rgba(10, 2, 53, 1) 25%,
        rgba(135, 0, 237, 0) 100%
      );
    }
    .combatFadeDown {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100px;
      z-index: 3;
      background: rgb(1, 6, 50);
      background: linear-gradient(
        0deg,
        rgba(1, 6, 50, 1) 0%,
        rgba(1, 19, 93, 0) 100%
      );
    }
    h3 {
      font-size: 100px;
      font-family: MoonGet;
      z-index: 4;
    }
    iframe {
      width: 60%;
      height: 30vw;
      z-index: 4;
    }
    p {
      font-size: 40px;
      text-align: center;
      width: 60%;
      font-weight: 300;
    }
  }
  .world {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../public/homePage/world/bg.webp");
    background-position: center;
    background-size: cover;
    position: relative;
    .worldFadeUp {
      position: absolute;
      top: 0;
      width: 100%;
      height: 50px;
      left: 0;
      right: 0;
      background: rgb(1, 6, 50);
      background: linear-gradient(
        180deg,
        rgba(1, 6, 50, 1) 0%,
        rgba(1, 19, 93, 0) 100%
      );
    }
    p {
      font-size: 40px;
      text-align: center;
      width: 60%;
      font-weight: 300;
    }
    img {
      width: 90%;
    }
  }
  .conceptArt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
    background-image: url("../../../public/homePage/conceptArt/bg.webp");
    background-position: center;
    background-size: cover;
    height: 100%;
    position: relative;
    .conceptArtFadeUp {
      position: absolute;
      top: 0;
      width: 100%;
      height: 75px;
      left: 0;
      right: 0;
      background: rgb(1, 6, 50);
      background: linear-gradient(
        180deg,
        rgba(1, 6, 50, 1) 0%,
        rgba(1, 19, 93, 0) 100%
      );
    }
    .conceptArtFadeDown {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100px;
      background: rgb(1, 0, 61);
      background: linear-gradient(
        0deg,
        rgba(1, 0, 61, 1) 25%,
        rgba(135, 0, 237, 0) 100%
      );
    }
    h3 {
      font-size: 80px;
      margin: 50px 0;
      font-family: MoonGet;
    }
    .conceptArtCarousel {
      width: 100%;
      .conceptArtSwiper {
        .conceptArtItem {
          img {
            width: 100%;
          }
        }
      }
      .mobileConceptArtSwiper {
        display: none;
      }
    }
  }
  .biomes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
    background-image: url("../../../public/homePage/biomes/bg.webp");
    background-position: center;
    background-size: cover;
    position: relative;
    .biomesFadeUp {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100px;
      left: 0;
      right: 0;
      background: rgb(1, 0, 61);
      background: linear-gradient(
        180deg,
        rgba(1, 0, 61, 1) 25%,
        rgba(135, 0, 237, 0) 100%
      );
    }
    .biomesFadeDown {
      background: rgb(101, 5, 69);
      background: linear-gradient(
        0deg,
        rgba(101, 5, 69, 1) 25%,
        rgba(135, 0, 237, 0) 100%
      );
      position: absolute;
      bottom: 0;
      z-index: 2;
      width: 100%;
      height: 50px;
    }
    .biomesGoblin {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 3;
      width: 20%;
    }
    .biomesEmbear {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20%;
      z-index: 3;
    }
    h3 {
      width: 80%;
      font-size: 100px;
      font-family: MoonGet;
      text-align: center;
    }
    p {
      width: 60%;
      margin: 30px 0;
      font-size: 30px;
      text-shadow: 3px 3px 10px black;
      font-weight: 200;
      text-align: center;
    }
    iframe {
      width: 50%;
      height: 60vh;
      border-radius: 10px;
    }
  }
  .roadmap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../public/homePage/roadmap/bg.webp");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 30px;
    .roadmapFadeUp {
      position: absolute;
      width: 100%;
      height: 100px;
      top: 0;
      left: 0;
      right: 0;
      background: rgb(101, 5, 69);
      background: linear-gradient(
        180deg,
        rgba(101, 5, 69, 1) 25%,
        rgba(135, 0, 237, 0) 100%
      );
    }
    .roadmapFadeDown {
      position: absolute;
      width: 100%;
      height: 100px;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgb(55, 101, 153);
      background: linear-gradient(
        0deg,
        rgba(55, 101, 153, 1) 25%,
        rgba(135, 0, 237, 0) 100%
      );
    }
    .roadmapMain {
      width: 80%;
      position: relative;
      z-index: 3;
    }
    .mobileRoadmap {
      display: none;
      position: relative;
      z-index: 3;
    }
  }
  .team {
    width: 100%;
    height: 100%;
    background-image: url("../../../public/homePage/team/bg.webp");
    background-position: center;
    background-size: cover;
    padding: 75px 0 120px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    h3 {
      font-size: 85px;
      z-index: 4;
      text-align: center;
      font-family: MoonGet;
    }
    .teamFadeUp {
      position: absolute;
      width: 100%;
      height: 150px;
      top: 0;
      left: 0;
      right: 0;
      background: rgb(55, 101, 153);
      background: linear-gradient(
        180deg,
        rgba(55, 101, 153, 1) 25%,
        rgba(135, 0, 237, 0) 100%
      );
    }
    .teamFadeDown {
      position: absolute;
      width: 100%;
      height: 100px;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgb(80, 98, 144);
      background: linear-gradient(
        0deg,
        rgba(80, 98, 144, 1) 25%,
        rgba(135, 0, 237, 0) 100%
      );
    }
    .teamMain {
      margin-top: 225px;
      z-index: 4;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .teamCol {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 15px;
        &:last-child {
          margin-top: 180px;
        }
        .teamItem {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
          .teamItemImage {
            position: absolute;
            width: 200px;
            top: -150px;
            // display: none;
          }
          .teamItemText {
            padding: 10px;
            background-color: white;
            width: 275px;
            height: 175px;
            // height: 100%;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            border-radius: 5px;
            h5 {
              color: #05175b;
              font-family: MoonGet;
              font-size: 25px;
            }
            p {
              color: #445b83;
              font-family: MoonGet;
              font-weight: 300;
              font-size: 15px;
              margin-top: 15px;
            }
          }
        }
      }
    }
    .teamMobileMain {
      display: none;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 120px;
      .teamCol {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 15px;
        margin-bottom: 110px;
        &:last-child {
          margin-bottom: 0;
        }
        .teamItem {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
          .teamItemImage {
            position: absolute;
            width: 120px;
            top: -92px;
            // display: none;
          }
          .teamItemText {
            padding: 10px;
            padding-top: 0;
            background-color: white;
            width: 150px;
            height: 125px;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            border-radius: 5px;
            h5 {
              color: #05175b;
              font-family: MoonGet;
              font-size: 15px;
            }
            p {
              color: #445b83;
              font-family: MoonGet;
              font-weight: 300;
              font-size: 10px;
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
  .getReady {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 125px;
    padding-bottom: 200px;
    gap: 15px;
    background-image: url("../../../public/homePage/getReady/bg.webp");
    position: relative;
    .getReadyFadeUp {
      position: absolute;
      width: 100%;
      height: 50px;
      top: 0;
      left: 0;
      right: 0;
      background: rgb(80, 98, 144);
      background: linear-gradient(
        180deg,
        rgba(80, 98, 144, 1) 25%,
        rgba(135, 0, 237, 0) 100%
      );
    }
    .getReadyFadeDown {
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 2;
      img {
        width: 100%;
      }
    }

    .getReadyAxolotl {
      width: 25%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    .getReadyEmbear {
      width: 20%;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }

    h4 {
      font-size: 70px;
      font-family: MoonGet;
      text-align: center;
      position: relative;
      z-index: 4;
      text-shadow: 3px 3px 10px black;
    }
    p {
      width: 50%;
      text-align: center;
      font-size: 40px;
      font-family: Montserrat;
      font-weight: 200;
      position: relative;
      z-index: 4;
      text-shadow: 3px 3px 10px black;
    }
    .getReadyInput {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 50px;
      width: 50%;
      margin: 25px 0;
      position: relative;
      z-index: 4;
      input {
        width: 80%;
        height: 100%;
        border: none;
        background-color: white;
        padding-left: 15px;
        border-radius: 15px 0 0 15px;
        &:focus {
          outline: none;
        }
      }
      button {
        border-radius: 0 15px 15px 0;
        border: none;
        cursor: pointer;
        background-color: #5d12e8;
        height: 100%;
        width: 20%;
        color: white;
        font-weight: 800;
        transition: all 250ms;
        &:hover {
          background-color: #4807c2;
        }
      }
    }
    .getReadySocial {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      position: relative;
      z-index: 4;
      h5 {
        font-size: 45px;
        font-family: MoonGet;
      }
      .getReadySocialMain {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        button {
          width: 40px;
          height: 40px;
          background-color: transparent;
          border: none;
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .footer {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 100px 0 100px 0;
    div:first-child {
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
    }
    div:last-child {
      width: 60%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
    }
    img {
      width: 200px;
    }
    a {
      text-align: center;
      text-decoration: none;
      color: black;
      font-size: 20px;
      transition: all 250ms;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media (max-width: 1450px) {
  .container {
    .team {
      .teamMain {
        .teamCol {
          .teamItem {
            .teamItemText {
              // width: 250px;
              width: 18vw;
              padding-top: 25px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1350px) {
  .container {
    .combat {
      .combatUpText {
        width: 80%;
      }
    }
    .biomes {
      p {
        width: 80%;
      }
      iframe {
        width: 70%;
      }
    }
    .professions {
      .professionsAxolotl {
        width: 25%;
      }
      .professionsAquan {
        width: 28%;
      }
    }
    .getReady {
      .getReadyAxolotl {
        // width: 35%;
        width: 500px;
        left: -150px;
      }
      .getReadyEmbear {
        width: 400px;
        // width: 30%;
        right: -150px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .container {
    .races {
      .racesSelection {
        button {
          width: 80px;
          height: 80px;
        }
      }
      .racesContainer {
        .racesContainerMain {
          .racesContainerRight {
            p {
              text-align: center;
              align-self: center;
              padding-left: 0;
            }
          }
        }
      }
    }
    .professions {
      .professionsSelector {
        height: 200px;
        div {
          button {
            p {
              font-size: 18px;
            }
          }
          height: 100px;
        }
      }
      .professionsContainer {
        iframe {
          // width: 70%;
          height: 30vw;
        }
      }
    }
    .combat {
      .combatSection1,
      .combatSection3 {
        .combatSection1Left,
        .combatSection3Left {
          h4 {
            font-size: 50px;
          }
          p {
            font-size: 25px;
          }
        }
      }
      .combatSection3 {
        .combatSection3Right {
          img {
            // width: 600px;
            width: 50vw;
          }
        }
      }
      .combatSection2 {
        h4 {
          font-size: 50px;
        }
        .combatSection2Main {
          .combatSection2Right {
          }
        }
      }
    }
    .exploration {
      h3 {
        width: 95%;
        font-size: 80px;
        text-align: center;
      }
      p {
        font-size: 35px;
      }
    }
    .world {
      p {
        width: 90%;
        font-size: 2.5vw;
      }
      img {
        width: 80%;
      }
    }
    .conceptArt {
      padding: 50px 0 100px 0;
    }
    .roadmap {
      .roadmapMain {
        width: 100%;
      }
    }
    .getReady {
      h4 {
        font-size: 50px;
      }
      p {
        font-size: 30px;
      }
      .getReadyInput {
        margin: 10px 0;
      }
      .getReadySocial {
        margin-top: 30px;
      }
    }
  }
}
@media (max-width: 1100px) {
  .container {
    .races{
      .racesContainer{
        .racesContainerMain{
          .racesContainerRight{
            position: relative;
            right: 50px;
            padding-left: 0px;
          }
        }
      }
    }
    .team {
      .teamMain {
        margin-top: 150px;
        .teamCol {
          .teamItem {
            .teamItemImage {
              width: 150px;
              top: -110px;
            }
            .teamItemText {
              h5 {
                font-size: 18px;
              }
              p {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .container {
    .header {
      iframe {
        width: 45vw;
        height: 25vw;
      }
    }
    .races {
      .racesContainer {
        .racesContainerMain {
          padding-top: 20px;
          .racesContainerRight {
            padding-left: 0;
            p {
              text-align: center;
              align-self: center;
              font-size: 20px;
              width: 100%;
              padding: 0 50px;
            }
            .racesHabilitiesContainer {
              width: 100%;
            }
          }
        }
        .racesGameplay {
          iframe {
            width: 80%;
            height: 45vw;
          }
        }
      }
    }
    .combat {
      .combatSection1,
      .combatSection3 {
        .combatSection1Right {
          img {
            width: 350px;
          }
        }
        // .combatSection3Right
      }
      .combatSection2 {
        .combatSection2Main {
          .combatSection2Right {
            width: 100%;
          }
          .combatSection2Left {
            img {
              width: 600px;
            }
          }
        }
      }
    }
    .exploration {
      .leftDeco,
      .rightDeco {
        width: 25%;
        z-index: 2;
      }
      h3,
      iframe,
      p {
        position: relative;
        z-index: 4;
      }
    }
    .biomes {
      iframe {
        height: 45vh;
      }
    }
    .footer {
      flex-direction: column-reverse;
      padding-bottom: 20px;
      padding-top: 50px;
      div {
        width: 100%;
        display: flex;
      }
      div:first-child {
        width: 100%;
        gap: 20px;
        flex-direction: row;
      }
      div:last-child {
        width: 100%;
        gap: 20px;
        flex-direction: column;
        margin-bottom: 50px;
      }
    }
    .getReady {
      .getReadyAxolotl {
        width: 400px;
      }
      .getReadyEmbear {
        width: 310px;
      }
    }
  }
}

@media (max-width: 900px) {
  .container {
    .nav {
      background-color: rgba(0, 0, 0, 0.469);

      .hamBtn {
        display: flex;
      }
      .navUl {
        display: none;
      }
    }
    .langUl {
      background-color: rgba(0, 0, 0, 0.469);
      width: 90%;
      margin: 0 auto;
      right: 0;
      left: 0;
    }
    .races {
      .racesSelection {
        button {
          width: 50px;
          height: 50px;
        }
      }
      .racesContainer {
        .racesContainerMain {
          .racesContainerLeft {
            width: 333px;
            height: 500px;
          }
        }
      }
    }
    .professions {
      .professionsSelector {
        height: 150px;
        div {
          height: 175px;
          button {
            p {
              font-size: 12px;
            }
          }
        }
      }
      .professionsContainer {
        iframe {
          // width: 90%;
        }
      }
    }
    .team {
      .teamMain {
        .teamCol {
          .teamItem {
            .teamItemImage {
              width: 120px;
              top: -90px;
            }
            .teamItemText {
              height: 150px;
            }
          }
        }
      }
    }
    .getReady {
      p {
        width: 90%;
      }
      label {
        font-size: 20px;
        margin-bottom: -15px;
      }
      .getReadyInput {
        width: 75%;
      }
    }
  }
}
@media (max-width: 800px) {
  .container {
    .kickstarterXl {
      display: none;
    }
    .kickstarterMd {
      display: flex;
    }
    .combat {
      .combatSection2 {
        .combatSection2Main {
          .combatSection2Left {
            img {
              width: 400px;
            }
          }
        }
      }
    }
    .conceptArt {
      h3 {
        font-size: 50px;
      }
    }
  }
}
@media (max-width: 720px) {
  .container {
    .header {
      height: 100%;
      background-image: url("../../../public/homePage/header/mobileBg.png");
      background-position: center 40%;
      padding-top: 50px;
      padding-bottom: 100px;
      .logo {
        width: 45%;
      }
      p {
        background: red;
        visibility: hidden;
      }
      iframe {
        margin-top: 150px;
        width: 80%;
        height: 50vw;
      }
    }
    .races {
      .racesContainer {
        .racesContainerMain {
          .racesContainerRight {
            right: 0;
            p {
              height: 100%;
              text-align: left;
              align-self: flex-start;
            }
            .racesHabilitiesContainer {
              display: none;
            }
          }
        }
        .racesContainerMobileHabilitiesMain {
          width: 100%;
          display: inline;
          h3 {
            font-size: 40px;
            margin-top: 30px;
          }
          position: relative;
          .mobileHabilitiesArrow1 {
            background: red;
            transform: rotateY(180deg) !important;
            background-color: transparent;
            border: none;
            fill: white;
            position: absolute;
            width: 50px;
            height: 50px;
            bottom: 135px;
            left: 10px;
            z-index: 3;
            svg {
              width: 100%;
              height: 100%;
            }
          }
          .mobileHabilitiesArrow2 {
            background: red;
            background-color: transparent;
            border: none;
            fill: white;
            width: 50px;
            height: 50px;
            position: absolute;
            width: 50px;
            height: 50px;
            bottom: 135px;
            right: 10px;
            z-index: 3;
            svg {
              width: 100%;
              height: 100%;
            }
          }
          .racesContainerMobileHabilities {
            display: flex;
            width: 100%;
            .mySwiper {
              width: 90%;
            }
          }
        }
      }
    }
    .professions {
      padding-bottom: 100px;
      h3 {
        font-size: 50px;
      }
      .professionsAquan {
        width: 50%;
        bottom: 30px;
        left: -100px;
      }
      .professionsAxolotl {
        width: 45%;
        bottom: 30px;
        right: -100px;
      }
      .professionsSelector {
        display: none;
      }
      .mobileProfessionsSelector {
        display: flex;
      }
      .professionsContainer {
        h4 {
          font-size: 70px;
          margin: 100px 0 200px 0;
        }
        iframe {
          width: 80%;
          z-index: 3;
          height: 300px;
        }
      }
    }
    .combat {
      .combatSection1,
      .combatSection3 {
        .combatSection1Left,
        .combatSection3Left {
          z-index: 3;
          position: relative;
          left: -120px;
          h4 {
            font-size: 7vw;
          }
          p {
            font-size: 3vw;
          }
          iframe {
            width: 90%;
            height: 225px;
          }
        }
        .combatSection1Right,
        .combatSection3Right {
          position: absolute;
          right: 0;
        }
      }
      .combatSection3 {
        .combatSection3Left {
          h4 {
            font-size: 7vw;
          }
          p {
            font-size: 3vw;
          }
        }
        .combatSection3Right {
          right: 15px;
          img {
            width: 550px;
          }
        }
      }
      .combatSection2 {
        h4 {
          font-size: 7vw;
          margin: 0;
        }
        .combatSection2Main {
          .combatSection2Left {
            img {
              width: 500px;
            }
          }
          .combatSection2Right {
            position: relative;
            left: 50px;
            width: 100%;
            p {
              font-size: 4vw;
              width: 95%;
            }
            iframe {
              width: 90%;
              height: 225px;
            }
          }
        }
      }
    }
    .exploration {
      h3 {
        font-size: 10vw;
      }
      iframe {
        width: 80%;
        height: 300px;
      }
      p {
        font-size: 30px;
        text-shadow: 3px 3px 10px black;
      }
    }
    .world {
      p {
        width: 95%;
        font-size: 4vw;
      }
      img {
        width: 95%;
      }
    }
    .conceptArt {
      .conceptArtCarousel {
        .conceptArtSwiper {
          display: none;
        }
        .mobileConceptArtSwiper {
          display: flex;
          .conceptArtItem {
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .roadmap {
      .roadmapMain {
        display: none;
      }
      .mobileRoadmap {
        display: initial;
        width:90%;
      }
    }
    .biomes {
      .biomesGoblin {
        width: 35%;
        right: -100px;
        z-index: 2;
      }
      .biomesEmbear {
        width: 35%;
        left: -100px;
        z-index: 2;
      }
      h3 {
        font-size: 15vw;
        z-index: 4;
      }
      p {
        font-size: 3.5vw;
      }
      iframe {
        position: relative;
        z-index: 3;
        height: 35vh;
      }
    }
    .team {
      padding-bottom: 50px;
      .teamMain {
        display: none;
      }
      .teamMobileMain {
        display: flex;
      }
    }
    .getReady {
      h4 {
        width: 90%;
      }
      p {
        width: 90%;
      }
      .getReadyAxolotl {
        width: 300px;
        left: -130px;
      }
      .getReadyEmbear {
        width: 235px;
        right: -100px;
      }
      .getReadyInput {
        width: 90%;
        button {
          font-size: 20px;
        }
      }
      .getReadySocial {
        top: 0;
      }
    }
  }
}
@media (max-width: 600px) {
  .container {
    .combat {
      .combatSection2 {
        h4 {
          position: relative;
          text-shadow: 3px 3px 10px black;
          z-index: 5;
        }
        margin-top: 0px;
        .combatSection2Main {
          position: relative;
          width: 100%;
          .combatSection2Right {
            width: 95%;
            left: 0;
            z-index: 5;
            margin-bottom: 225px;
            p {
              text-shadow: 3px 3px 10px black;
              width: 100%;
              margin: 5px 0;
            }
            iframe {
              background: pink;
              position: relative;
              top: 250px;
              height: 300px;
            }
          }
          .combatSection2Left {
            // display: none;
            position: absolute;
            // top: -175px;
            top: 75px;
            img {
              width: 550px;
              z-index: 2;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .container {
    .races {
      h3 {
        font-size: 50px;
      }
      .racesSelection {
        button {
          width: 35px;
          height: 35px;
        }
        .racesSelectionArrow1,
        .racesSelectionArrow2 {
          display: none;
        }
      }
      .racesContainer {
        h4 {
          font-size: 50px;
        }
        .racesContainerMain {
          .racesContainerLeft {
            width: 350px;
            position: relative;
            left: 30px;
            height: initial;
          }
          .racesContainerRight {
            position: relative;
            right: 20px;
            p {
              font-size: 20px;
              text-align: center;
            }
          }
        }
      }
    }
    .professions {
      .professionsAquan {
        left: -50px;
        width: 60%;
      }
      .professionsAxolotl {
        right: -50px;
        width: 52%;
      }
      .professionsContainer {
        position: relative;
        z-index: 3;
        h4 {
          font-size: 60px;
          margin: 50px 0 125px 0;
        }
        iframe {
          height: 250px;
        }
      }
    }
    .combat {
      .combatUpText {
        width: 100%;
        font-size: 20px;
        margin-bottom: 80px;
      }
      .combatSection1 {
        .combatSection1Left {
          justify-content: flex-start;
          align-items: flex-start;
          width: 90%;
          left: 0;
          p {
            text-align: left;
            width: 70%;
          }
          iframe {
            width: 100%;
            align-self: center;
          }
        }
        .combatSection1Right {
          top: 110px;
        }
      }
      .combatSection3 {
        position: relative;
        .combatSection3Left {
          justify-content: flex-start;
          align-items: flex-start;
          width: 90%;
          left: 0;
          p {
            text-align: left;
            width: 70%;
          }
          iframe {
            width: 100%;
            align-self: center;
          }
        }
        .combatSection3Right {
          top: -50px;
          right: 50px;
          img {
            width: 550px;
          }
        }
      }
    }
    .exploration {
      .leftDeco {
        width: 40%;
        left: -75px;
      }
      .rightDeco {
        width: 40%;
        right: -75px;
      }

      p {
        font-size: 25px;
        width: 80%;
      }
    }
    .conceptArt {
      h3 {
        font-size: 10vw;
      }
    }
    .biomes {
      padding-top: 50px;
      .biomesGoblin{
        right: -75px;
      }
      .biomesEmbear{
        left: -75px;
      }
      h3 {
        width: 95%;
      }
      p {
        width: 95%;
      }
    }
    .team {
      .teamMobileMain {
        .teamCol {
          margin-bottom: 75px;
          .teamItem {
            .teamItemImage {
              width: 90px;
              top: -60px;
            }
            .teamItemText {
              padding-top: 30px;
              width: 120px;
            }
          }
        }
      }
    }
    .getReady {
      h4 {
        font-size: 30px;
      }
      p {
        font-size: 20px;
      }
      .getReadyInput {
        button {
          font-size: 3.5vw;
        }
      }
      .getReadySocial {
        gap: 10px;
        .getReadySocialMain {
          margin-top: 20px;
          gap: 10px;
          flex-wrap: wrap;
          width: 200px;
        }
        h5 {
          font-size: 25px;
        }
      }
    }
  }
}

@media (max-width: 475px) {
  .container {
    .races {
      .racesContainer {
        .racesContainerMobileHabilitiesMain {
          .racesContainerMobileHabilities {
            .mySwiper {
              width: 95%;
            }
          }
        }
        .racesContainerMain {
          .racesContainerLeft {
            // background: red;
            width: 300px;
          }
          .racesContainerRight {
            left: 0;
            right: 0;
            p {
              font-size: 15px;
            }
          }
        }
      }
    }
    .professions {
      padding-bottom: 75px;
      .professionsAxolotl,
      .professionsAquan {
        display: none;
      }
      h3 {
        font-size: 10vw;
        // font-size: 30px;
      }
      .mobileProfessionsSelector {
        height: 200px;
      }
      .professionsContainer {
        h4 {
          // font-size: 20px;

          font-size: 9vw;
          margin-bottom: 50px;
        }
        iframe {
          width: 90%;
          height: 250px;
        }
      }
    }
    .combat {
      // background: red;
      margin-bottom: -50px;

      padding-bottom: 25px;
      .combatSection2 {
        .combatSection2Main {
          margin-bottom: -75px;
          .combatSection2Right {
            p {
              // background: red;
              font-size: 3.3vw;
            }
            iframe {
              height: 200px;
              top: 175px;
            }
          }
          .combatSection2Left {
            top: 40px;
            img {
              width: 400px;
            }
          }
        }
      }
      .combatSection3 {
        .combatSection3Right {
          right: 25px;
          top: -20px;
          img {
            width: 400px;
          }
        }
      }
    }
    .exploration {
      gap: 25px;
      padding-top: 125px;
      // background: red;
      .leftDeco {
        width: 40%;
      }
      .rightDeco {
        width: 40%;
      }
      iframe {
        height: 210px;
      }
      p {
        font-weight: 600;
      }
    }
    .world {
      padding-bottom: 0;
      padding-top: 50px;
    }
    .conceptArt {
      padding-bottom: 0px;
      padding-top: 0px;
      h3 {
        z-index: 4;
      }
    }
    .biomes {
      padding-bottom: 50px;
      padding-top: 75px;
      align-items: flex-start;
      .biomesFadeUp {
        height: 50px;
      }
      .biomesGoblin {
        right: 0px;
        // width: 210px;
        width: 45vw;
        bottom: initial;
        top: 250px;
      }
      .biomesEmbear {
        display: none;
      }
      p{
        // background: red;
        width: 50%;
        margin-left: 25px;
        // font-size: 25px;
        font-size: 5.3vw;
      }
      iframe {
        // margin-top: 175px;
        align-self: center;
        height: 30vh;
        width: 90%;
      }
    }
    .team{
      padding-bottom: 70px;
    }
    .getReady {
      padding-bottom: 120px;
      padding-top: 0px;
      .getReadyAxolotl {
        width: 200px;
        left: -75px;
      }
      .getReadyEmbear {
        width: 150px;
        right: -50px;
      }
    }
  }
}
@media (max-width: 420px) {
  .container {
    .kickstarterMd {
      display: none;
    }
    .kickstarterXs {
      display: flex;
    }
    .races {
      .racesContainer {
        .racesContainerMain {
          .racesContainerRight {
            position: relative;
            left: -20px;
          }
        }
      }
    }
    .team {
      .teamMobileMain {
        .teamCol {
          .teamItem {
            .teamItemText {
              width: 100px;
              h5 {
                font-size: 13px;
              }
              p {
                font-size: 8px;
              }
            }
          }
        }
      }
    }
    .biomes{
      .biomesGoblin{
        right: 0;
        top: 220px;
      }
    }
    .footer {
      padding: 20px 0;
      flex-direction: column;
      div:first-child {
        flex-direction: column;
        margin-bottom: 15px;
      }
    }
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
