$title: 900;
$text: 400;
$subtitle: 700;
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  .kickstarterXl {
    position: fixed;
    z-index: 50;
    top: 0;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.368);
    width: 100%;
    height: 100%;
    div {
      width: 525px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        width: 100%;
      }
      button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        transition: all 250ms;
        cursor: pointer;
        &:hover {
          transform: rotate(180deg);
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .kickstarterMd {
    display: none;
    position: fixed;
    z-index: 50;
    top: 0;
    padding-top: 10px;

    background-color: rgba(0, 0, 0, 0.368);
    width: 100%;
    height: 100%;
    div {
      width: 360px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      img {
        width: 100%;
      }
      button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        transition: all 250ms;
        cursor: pointer;
        &:hover {
          transform: rotate(180deg);
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .kickstarterXs {
    display: none;
    position: fixed;
    z-index: 50;
    top: 0;
    padding-top: 10px;

    background-color: rgba(0, 0, 0, 0.368);
    width: 100%;
    height: 100%;
    div {
      width: 250px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      img {
        width: 100%;
      }
      button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        transition: all 250ms;
        cursor: pointer;
        &:hover {
          transform: rotate(180deg);
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .upBtn {
    width: 35px;
    position: fixed;
    bottom: 25px;
    z-index: 100;
    cursor: pointer;
    height: 25px;
    background: transparent;
    border: none;
    img {
      width: 100%;
    }
    transition: all 500ms;
    &:hover {
      transform: rotateY(360deg);
    }
  }
  .header {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../../public/header/bg2.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1; /* Asegúrate de que la imagen esté encima del fondo */
    }
    width: 100%;
    height: 125vh;
    background-image: url("../../../public/header/bg1.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    align-items: center;
    flex-direction: column;

    img,
    h1,
    h3,
    p,
    div {
      position: relative;
      z-index: 8;
    }
    .headerAxolotl {
      position: absolute;
      // width: 350px;
      width: 500px;
      bottom: 0;
      left: 0;
      z-index: 2;
    }
    .headerCat {
      position: absolute;
      width: 500px;
      bottom: 0;
      right: 0;
      z-index: 2;
    }
    img {
      width: 20vw;
    }
    h1 {
      font-size: 50px;
      text-align: center;
      line-height: 0.8;
      font-weight: $title;
    }
    h3 {
      margin-top: 10px;
      font-size: 40px;
      font-style: italic;
      font-weight: $title;
    }
    p {
      margin-top: 25px;
      font-size: 28px;
      width: 45%;
      text-align: center;
      font-weight: $text;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;
      width: 30%;
      .headerCaptcha {
        position: relative;
        top: -50px;
      }
      label {
        font-size: 25px;
        font-weight: $text;
      }
      input {
        width: 90%;
        align-self: center;
        margin: 5px 0 10px 0;
        outline: 1px solid #665872;
        border: none;
        background-color: #150622;
        padding: 10px 0;
        border-radius: 5px;
        padding-left: 15px;
        color: white;
        position: relative;
        z-index: 10;
        &::placeholder {
          padding-left: 15px;
          font-size: 120%;
          font-family: "Montserrat";
        }
      }
      button {
        align-self: center;
        border: none;
        cursor: pointer;
        color: white;
        font-family: Montserrat;
        width: 300px;
        height: 50px;
        font-size: 25px;
        border-radius: 15px;
        margin-top: 10px;
        padding: 8px 0;
        font-weight: $title;
        letter-spacing: 1px;
        transition: all 500ms;
        background: rgb(255, 190, 0);
        position: relative;
        top: -20px;
        // background: linear-gradient(
        //   90deg,
        //   rgba(255, 190, 0, 1) 0%,
        //   rgba(255, 154, 0, 1) 100%
        // );
        &:hover {
          background: rgb(61, 13, 132);
          //   background: linear-gradient(
          //     90deg,
          //     rgba(61, 13, 132, 1) 0%,
          //     rgba(97, 16, 130, 1) 100%
          //   );
        }
      }
      .headerJoinNumber {
        align-self: center;
        text-align: center;
      }
    }
    .headerFade {
      width: 100%;
      position: absolute;
      bottom: -1px;
      z-index: 5;
      background-image: red;
    }
    .headerGame {
      width: 500px;
    }
  }
  .combatSystem {
    background-color: #331052;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0;
    margin-bottom: 25px;
    div {
      width: 60%;
      p {
        font-weight: 700;
        text-align: center;
        font-size: 30px;
        strong {
          font-weight: $title;
        }
      }
    }
  }
  .races {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/races/bg.png");
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0 75px 0;
    .racesMainContainer {
      width: 100%;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      position: relative;
      top: 25px;
      overflow: hidden;
      .racesTitle {
        width: 30%;
        // margin-top: 10px;
        position: relative;
        z-index: 4;
        h3:first-child {
          font-size: 350px;
          text-align: center;
          font-weight: $title;
          text-shadow: 3px 3px 10px black;
        }
        h3:last-child {
          position: relative;
          top: -70px;
          font-size: 120px;
          font-weight: $title;
          text-align: center;
          text-shadow: 3px 3px 10px black;
        }
      }
      .racesImagesContainer {
        width: 40%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .racesArrows {
          width: 40px;
          height: 40px;
          background-color: transparent;
          border: none;
          z-index: 10;
          cursor: pointer;
          img {
            width: 100%;
          }
          transition: all 250ms;
          &:hover {
            transform: translateX(-5px);
          }
          &:last-child {
            transform: rotateY(180deg);
            &:hover {
              transform: rotateY(180deg) translateX(-5px);
            }
          }
        }
        .mySwiper {
          width: 388px;
          // background: red;
        }
        .myMobileSwiper,
        .myMobile2Swiper {
          width: 388px;
          display: none;
        }
      }
    }

    .racesText {
      margin-top: 30px;
      text-align: center;
      font-size: 25px;
      font-weight: $subtitle;
      margin-bottom: 25px;
    }
  }
  .biomes {
    width: 100%;
    height: 100%;
    background-image: url("../../../public/biomes/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    .biomesTitle {
      padding-right: 50px;
      margin-top: 5vw;
      h3:first-child {
        font-size: 250px;
        text-align: center;
        font-weight: $title;
        text-shadow: 3px 3px 10px black;
      }
      h3:nth-child(2),
      h3:last-child {
        position: relative;
        top: -70px;
        font-size: 100px;
        font-weight: $title;
        text-align: center;
        text-shadow: black;
        text-shadow: 3px 3px 10px black;
      }
      h3:last-child {
        top: -110px;
        text-shadow: 3px 3px 10px black;
      }
    }
    .biomesText {
      align-self: center;
      text-align: center;
      margin-bottom: 2vw;
      font-size: 25px;
      font-weight: $subtitle;
    }
  }
  .professions {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
      height: 50%;
    }
    .professionsMobileImage {
      display: none;
    }
    .professionsTexts {
      width: 100%;
      padding: 70px 0;
      background-image: url("../../../public/professions/bg.png");
      background-position: center center; /* Centra la imagen en el contenedor */
      background-size: cover; /* Cubre completamente el contenedor sin distorsionar la imagen */
      background-repeat: no-repeat;
      text-align: center;
      font-size: 25px;
      font-weight: $subtitle;
    }
  }
  .skills {
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/skills/bg.png");
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .skillTitle {
      h3 {
        font-size: 150px;
        line-height: 0.8;
        padding-right: 100px;
        font-weight: $title;
        text-align: center;
        text-shadow: 3px 3px 10px black;
      }
    }
    .skillNoEnglishTitle {
      h3 {
        font-size: 80px;
        line-height: 1;
        padding-right: 100px;
        font-weight: $title;
        text-align: center;
        text-shadow: 3px 3px 10px black;
      }
    }
  }
  .world {
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/world/bg.png");
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .worldTitle {
      padding-left: 80px;
      h3 {
        font-size: 125px;
        line-height: 0.8;
        font-weight: $title;
        text-align: center;
        text-shadow: black;
        text-shadow: 3px 3px 10px black;
      }
      h4 {
        font-weight: $text;
        font-size: 50px;
        text-align: center;
        text-shadow: 3px 3px 10px black;
      }
      h4:nth-child(3) {
        padding-top: 20px;
      }
    }
  }
  .gameplay {
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/gameplay/bg.jpg");
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    .gameplayAlufis {
      //   background: red;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      img {
        width: 90%;
        height: 100%;
      }
    }
    .gameplayTitle {
      width: 50%;
      padding-right: 10vw;
      h3 {
        // font-size: 200px;
        font-size: 10vw;
        line-height: 0.8;
        font-weight: $title;
        text-align: center;
        text-shadow: black;
        text-shadow: 3px 3px 10px black;
        // word-break: break-all;
        font-size: 8vw;
      }
      h4 {
        font-weight: $text;
        // font-size: 50px;
        font-size: 2.2vw;
        text-align: center;
        text-shadow: 3px 3px 10px black;
      }
      div {
        margin: 0 auto;
        width: 50%;

        display: flex;
        justify-content: space-around;
        align-items: center;
        svg {
          width: 75px;
          height: 75px;
        }
      }
    }
  }
  .elements {
    width: 100%;
    height: 100%;
    background-image: url("../../../public/elements/Sin blurbg.jpg");
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .elementsUpFade {
      width: 100%;
      height: 100px;
      background: rgb(39, 47, 96);
      background: linear-gradient(
        0deg,
        rgba(39, 47, 96, 0) 0%,
        rgba(1, 19, 93, 1) 81%,
        rgba(1, 19, 93, 1) 100%,
        rgba(39, 47, 96, 1) 100%
      );
    }
    .elementsDownFade {
      width: 100%;
      height: 100px;
      background: rgb(1, 19, 93);
      background: linear-gradient(
        0deg,
        rgba(1, 19, 93, 1) 0%,
        rgba(255, 200, 115, 0) 100%
      );
    }

    .elementsTitle {
      text-align: center;
      h3:first-child {
        font-size: 100px;
        font-weight: $title;
        text-shadow: 3px 3px 10px black;
        word-break: break-all;
      }
      h3:last-child {
        position: relative;
        top: -30px;
        font-weight: $title;
        font-size: 80px;
        text-shadow: 3px 3px 10px black;
        word-break: break-all;
      }
    }
    .elementsContainer {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      gap: 2vw;
      width: 100%;
      div {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 6vw;
        .element {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0;
          transition: all 250ms;
          &:hover {
            transform: rotateY(30deg);
          }
          img {
            width: 14vw;
          }
          p {
            font-size: 20px;
            position: relative;
            top: -15px;
            font-weight: 800;
          }
        }
      }
    }
    .mobileElementsContainer {
      display: none;
    }
    .elementsText {
      width: 100%;
      font-size: 30px;
      text-align: center;
      font-weight: $subtitle;
      margin: 30px 0;
      text-shadow: 10px 10px 10px black;
    }
  }
  .mounts {
    width: 100%;
    height: 1414px;
    background-image: url("../../../public/mounts/bg.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .mountsTitle {
      position: relative;
      top: 150px;
      h3 {
        font-size: 100px;
        text-align: center;
        font-weight: $title;
        text-shadow: 3px 3px 10px black;
      }
    }
    .mountsText,
    .mountsNoEnglishText {
      position: relative;
      right: 100px;
      bottom: 50px;
      align-self: flex-end;
      text-align: center;
      margin-bottom: 2vw;
      font-size: 60px;
      font-weight: $title;
    }
  }
  .form {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: flex-end;
    align-items: space-between;
    flex-direction: row;
    background-image: url("../../../public/form/bg.jpg");
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    position: relative;

    .formLeft {
      width: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      z-index: 5;
      .formLeftTitleContainer {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        h3 {
          text-align: center;
          font-size: 40px;
          font-weight: $subtitle;
        }
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        width: 80%;
        .formCaptcha {
          position: relative;
          top: -50px;
        }
        .headerJoinNumber {
          align-self: center;
        }
        label {
          font-size: 25px;
          font-weight: $text;
        }
        input {
          width: 80%;
          margin: 5px 0 10px 0;
          outline: 1px solid #665872;
          border: none;
          background-color: #150622;
          padding: 10px 0;
          border-radius: 5px;
          padding-left: 15px;
          color: white;
          position: relative;
          z-index: 10;
          &::placeholder {
            padding-left: 15px;
            font-size: 120%;
            font-family: "Montserrat";
          }
        }
        button {
          align-self: center;
          border: none;
          cursor: pointer;
          color: white;
          font-family: Montserrat;
          width: 300px;
          height: 50px;
          border-radius: 15px;
          margin-top: 10px;
          font-size: 25px;
          padding: 8px 0;
          font-weight: $title;
          letter-spacing: 1px;
          transition: all 500ms;
          background: rgb(255, 190, 0);
          position: relative;
          top: -20px;
          &:hover {
            background: rgb(61, 13, 132);
          }
        }
      }
    }
    .formRight {
      width: 40%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: 2;
      img {
        height: auto;
      }
    }
    .formUpFade {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100px;
      background: rgb(39, 47, 96);
      background: linear-gradient(
        0deg,
        rgba(39, 47, 96, 0) 0%,
        rgba(1, 19, 93, 1) 81%,
        rgba(1, 19, 93, 1) 100%,
        rgba(39, 47, 96, 1) 100%
      );
    }
    .formOverlay {
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 1;
    }
  }
  .footer {
    background-color: #0e296e;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    .footerMain {
      margin-top: 50px;
      border-radius: 10px;
      outline: 1px solid rgb(179, 179, 179);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      width: 70%;
      padding: 30px;
      h4 {
        font-weight: $title;
        font-size: 50px;
      }
      button {
        width: 320px;
        height: 120px;
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media (max-height: 800px) {
  .container {
    .header {
      height: 150vh !important;
    }
  }
}
@media (max-height: 700px) {
  .container {
    .header {
      height: 180vh !important;
    }
  }
}
@media (max-width: 1350px) {
  .container {
    .header {
      .headerAxolotl,
      .headerCat {
        width: 350px !important;
      }
    }
  }
}
@media (max-width: 1300px) {
  .container {
    .gameplay {
      .gameplayAlufis {
        img {
          width: 90% !important;
          height: 90% !important;
        }
      }
      .gameplayTitle {
        h3 {
          // font-size: 12vw !important;
        }
        h4 {
          font-size: 3vw;
        }
      }
    }
    .races {
      .racesMainContainer {
        justify-content: flex-start;
        .racesTitle {
          margin-left: 30px;
          h3 {
            line-height: 0.8;
          }
          h3:first-child {
            font-size: 250px;
          }
          h3:last-child {
            font-size: 100px;
            top: 0 !important;
          }
        }
        .racesImagesContainer {
          width: 50%;
          position: relative;
          left: 100px;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .container {
    .header {
      overflow: hidden;

      .headerLogo {
        width: 30vw;
      }
      .headerCat {
        right: -150px;
      }
      .headerAxolotl {
        left: -50px;
      }
      div {
        input {
          width: 100%;
        }
      }
      .headerGame {
        // background: red;
        width: 400px;
      }
    }
    .gameplay {
      height: 80vh;
      .gameplayAlufis {
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
}
@media (max-width: 1100px) and (max-height: 650px) {
  .container {
    .header {
      height: 165vh !important;
    }
  }
}
@media (max-width: 1000px) {
  .container {
    .header {
      overflow: hidden;
      h1 {
        font-size: 32px;
      }
      h3 {
        font-size: 25px;
      }
      p {
        width: 45%;
        font-size: 20px;
      }
      div {
        width: 50%;
      }
      .headerAxolotl {
        width: 400px;
        left: -150px;
      }
      .headerCat {
        width: 400px;
        right: -150px;
      }
    }
    .combatSystem {
      div {
        width: 90%;
        p {
          font-weight: 600;
          font-size: 25px;
        }
      }
    }
    .races {
      padding-bottom: 20px;
      padding-top: 50px;
      background-position: center;

      .racesMainContainer {
        flex-direction: column;
        justify-content: center;
        .racesTitle {
          display: flex;
          align-items: center;
          flex-direction: column;
        }
        .racesImagesContainer {
          left: 0px;
          width: 90%;
          .mySwiper {
            left: 50px;
          }
        }
      }
      .racesText {
        width: 90%;
        margin-bottom: 0;
      }
    }
    .biomes {
      .biomesTitle {
        h3:first-child {
          font-size: 100px;
        }
        h3:nth-child(2),
        h3:last-child {
          font-size: 70px;
          top: -35px;
        }
        h3:last-child {
          top: -60px;
        }
      }
      .biomesText {
        font-size: 20px;
      }
    }
    .professions {
      .professionsTexts {
        padding: 70px 50px;
      }
    }
    .skills {
      .skillTitle {
        h3 {
          font-size: 100px;
          padding-right: 50px;
          text-shadow: 3px 3px 10px black;
        }
      }
    }
    .world {
      .worldTitle {
        h3 {
          font-size: 100px;
        }
        h4 {
          font-size: 40px;
        }
      }
    }
    .gameplay {
      height: 70vh;
    }
    .elements {
      .elementsContainer {
        div {
          .element {
            p {
              top: -12px;
              font-size: 15px;
            }
          }
        }
      }
      .elementsText {
        font-size: 25px;
      }
    }
    .mounts {
      height: 2200px;
      background-image: url("../../../public/mounts/mobileBg.jpg");
      background-position: 0% 0%;
      background-size: cover;
      .mountsTitle {
        h3 {
          font-size: 85px;
        }
      }
      .mountsText,
      .mountsNoEnglishText {
        right: 20px;
        font-size: 50px;
      }
    }
    .form {
      // display: none !important;
      .formLeft {
        align-items: center;
        width: 60%;
      }
      .formRight {
        align-items: flex-end;
        img {
          height: 90%;
        }
      }
    }
  }
}
@media (max-width: 850px) {
  .container {
    .header {
      h1 {
        font-size: 30px;
      }
    }
    .mounts {
      height: 1920px;
      .mountsText,
      .mountsNoEnglishText {
        p {
          text-shadow: 3px 3px 10px black;
          font-size: 40px;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .container {
    .kickstarterXl {
      display: none;
    }
    .kickstarterMd {
      display: flex;
    }
    .header {
      h1 {
        font-size: 25px;
      }
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 15px;
      }
      div {
        width: 45%;
        label {
          font-size: 20px;
        }
      }
    }
    .gameplay {
      height: 60vh;
    }
    .world {
      .worldTitle {
        h3 {
          font-size: 10vw;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .container {
    .header {
      height: 100% !important;
      padding-bottom: 30px;
      // background: red;
      .headerAxolotl,
      .headerCat {
        display: none;
      }
      .headerLogo {
        width: 220px !important;
      }
      h1 {
        font-size: 25px;
      }
      h3 {
        font-size: 20px;
      }
      p {
        width: 350px;
        margin-top: 10px;
        font-size: 18px;
      }
      div {
        width: 320px;
      }
    }
    .combatSystem {
      padding: 20px 0 0 0;
      div {
        p {
          font-size: 20px;
        }
      }
    }
    .races {
      .racesMainContainer {
        .racesImagesContainer {
          width: 90%;
          left: 0;
          .mySwiper {
            display: none;
          }
          .myMobileSwiper {
            display: flex;
            left: 50px;
          }
        }
      }
    }
    .biomes {
      background-position: center 70%;
      justify-content: flex-end !important;
      height: 100vh;
      background-image: url("../../../public/biomes/mobileBg.png");
      padding-bottom: 10px;
      .biomesTitle {
        padding-right: 10px;
        position: relative;
        top: 50px;
        h3:first-child {
          font-size: 100px;
        }
        h3:nth-child(2),
        h3:last-child {
          font-size: 70px;
          top: -35px;
        }
        h3:last-child {
          top: -60px;
        }
      }
      .biomesText {
        font-size: 20px;
      }
    }
    .professions {
      .professionsImage {
        display: none;
      }
      .professionsMobileImage {
        display: block;
      }
      .professionsTexts {
        background-image: url("../../../public/professions/mobileBg.png");
      }
    }
    .skills {
      height: 80vh;
      align-items: flex-end;
      padding-bottom: 20px;
      background-image: url("../../../public/skills/mobileBg.png");
      background-position: center;
      .skillNoEnglishTitle {
        overflow: hidden;
        h3 {
          font-size: 60px;
          position: relative;
          left: 70px;
        }
      }
    }
    .world {
      height: 60vh;
      background-image: url("../../../public/world/mobileBg.png");
      .worldTitle {
        padding-left: 15px;
      }
    }
    .gameplay {
      background-image: url("../../../public/gameplay/mobileBg.png");
      height: 110vh;
      justify-content: center;
      align-items: flex-end;
      background-position: center 10%;
      padding-bottom: 20px;
      .gameplayAlufis {
        display: none;
      }
      .gameplayTitle {
        width: 100%;
        padding-right: 0;
        h3 {
          // font-size: 125px;
          font-size: 15vw;
          line-height: 0.8;
        }
        h4 {
          font-size: 40px;
          width: 100%;
        }
      }
    }
    .elements {
      .elementsContainer {
        display: none;
      }
      .mobileElementsContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        div {
          width: 90%;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          .element {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0 !important;
            transition: all 250ms;
            img {
              width: 60%;
            }
            p {
              font-size: 25px;
              position: relative;
              top: -17px;
              font-weight: 800;
            }
          }
        }
      }
      .elementsText {
        width: 80%;
        text-shadow: none;
      }
    }
    .mounts {
      .mountsTitle {
        top: 30px;
        h3 {
          font-size: 6vw;
        }
      }
    }
    .form {
      height: 70vh;
      justify-content: center;
      align-items: center;
      .formLeft {
        width: 90%;
        .formLeftTitleContainer {
          width: 100%;
        }
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          .formCaptcha {
            left: 0;
          }
          label:first-child {
            align-self: flex-start;
          }
          input {
            width: 100%;
            padding: 15px 0;
            margin: 10px auto;
          }
          button {
            width: 250px;
          }
        }
      }
      .formRight {
        display: none;
      }
    }
    .footer {
      padding-bottom: 10px;
      .footerMain {
        margin-top: 20px;
        h4 {
          font-size: 30px;
        }
        button {
          width: 200px;
          height: 75px;
        }
      }
    }
  }
}
// @media (max-height: 700px) {
//   .container {
//     .header {
//       // height: 100vh !important;
//     }
//   }
// }
@media (max-width: 590px) {
  .container {
    .header {
      div {
        button {
          width: 100%;
          height: 50px;
        }
      }
    }
    .races {
      .racesMainContainer {
        .racesTitle {
          width: 100%;
          margin: 0;
          h3:first-child {
            font-size: 200px;
          }
          h3:last-child {
            font-size: 100px;
          }
        }
        .racesImagesContainer {
          width: 100%;
          // background: red;
          .racesArrows {
            width: 40px;
            height: 40px;
          }
        }
      }
      .racesText {
        font-size: 20px;
      }
    }
    .skills {
      .skillTitle {
        h3 {
          font-size: 70px;
        }
      }
      .skillNoEnglishTitle {
        width: 100%;
        margin-bottom: 50px;
        h3 {
          padding-right: 0 !important;
          font-size: 40px;
          left: 0;
        }
      }
    }
    .world {
      height: 45vh;
      .worldTitle {
        h3 {
          // font-size: 70px;
          font-size: 12vw;
        }
        h4 {
          // font-size: 30px;
          font-size: 5vw;
        }
      }
    }
    .gameplay {
      height: 95vh !important;
      .gameplayTitle {
        h3 {
          font-size: 65px !important;
        }
        h4 {
          font-size: 40px;
        }
      }
    }
    .elements {
      .elementsTitle {
        h3:first-child {
          font-size: 100px;
        }
        h3:last-child {
          font-size: 70px;
        }
      }
      .mobileElementsContainer {
        div {
          .element {
            p {
              font-size: 15px;
              top: -10px;
            }
          }
        }
      }
    }
    .mounts {
      background-image: url("../../../public/mounts/mobile2Bg.jpg");
      background-position: center !important;
      background-size: fill !important;
      height: 1920px;
      .mountsTitle {
        top: 0px;
        h3 {
          font-size: 12vw;
          width: 90%;
          margin: 0 auto;
        }
      }
      .mountsText,
      .mountsNoEnglishText {
        bottom: 10px;
      }
      .mountsNoEnglishText {
        bottom: 125px !important;
        p {
          font-size: 30px;
        }
      }
    }
    .form {
      height: 80vh;
      .formLeft {
        .formLeftTitleContainer {
          h3 {
            font-size: 35px;
          }
        }
        div {
          button {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .container {
    .kickstarterMd {
      display: none;
    }
    .kickstarterXs {
      display: flex;
    }
    .header {
      .headerLogo {
        width: 200px !important;
      }
      h1 {
        font-size: 20px;
      }
      h3 {
        font-size: 17px;
      }
      p {
        width: 300px;
        margin-top: 10px;
        font-size: 15px;
      }
      div {
        width: 300px;
      }
    }
    .combatSystem {
      padding-top: 10px;
      div {
        p {
          font-size: 15px;
        }
      }
    }
    .races {
      padding-top: 20px;
      .racesMainContainer {
        .racesTitle {
          padding-bottom: 20px;
          h3:first-child {
            font-size: 80px;
          }
          h3:last-child {
            font-size: 60px;
          }
        }
        .racesImagesContainer {
          .myMobileSwiper {
            display: none;
          }
          .myMobile2Swiper {
            position: relative;
            left: 40px;
            width: 250px;
            display: flex;
          }
        }
      }
      .racesText {
        font-size: 13px;
        width: 90%;
      }
    }
    .biomes {
      overflow: hidden;
      .biomesTitle {
        h3:first-child {
          font-size: 100px !important;
        }
        h3:nth-child(2),
        h3:last-child {
          font-size: 50px !important;
          top: -30px !important;
        }
        h3:last-child {
          top: -50px !important;
        }
      }
      .biomesText {
        font-size: 15px !important;
      }
    }
    .professions {
      .professionsTexts {
        height: 100% !important;
        padding: 30px !important;
        font-size: 15px !important;
      }
    }
    .skills {
      .skillTitle {
        h3 {
          font-size: 80px;
          padding-right: 20px;
        }
      }
      .skillNoEnglishTitle {
        h3 {
          padding: 0;
          left: 0;
        }
      }
    }
    .world {
      height: 50vh;
    }
    .gameplay {
      height: 75vh !important;
      .gameplayTitle {
        h3 {
          // font-size: 75px !important;
          font-size: 15vw !important;
        }
        h4 {
          font-size: 30px;
          margin-bottom: 10px;
        }
      }
    }
    .elements {
      .elementsTitle {
        h3:first-child {
          font-size: 80px;
        }
        h3:last-child {
          font-size: 50px !important;
        }
      }
    }
    .mounts {
      .mountsText,
      .mountsNoEnglishText {
        bottom: 20px;
        p {
          font-size: 25px;
        }
      }
    }
    .form {
      padding: 50px 0;
      height: 100%;
      .formLeft {
        .formLeftTitleContainer {
          h3 {
            // font-size: 25px;
          }
        }
        div {
          .formCaptcha {
            left: 0;
          }
          label {
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media (max-height: 700px) {
  .container {
    .header {
      height: 80vh;
    }
  }
}
